--find-links https://download.openmmlab.com/mmcv/dist/cu118/torch2.0/index.html
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.0
torchvision==0.15.1
mmcv==2.0.0
albumentations>=2.0
gradio==4.16.0
mmdet==3.0.0
mmengine==0.10.3
mmyolo==0.6.0
numpy==1.*
opencv-python==4.9.*
supervision==0.19.*
timm==0.6.13
transformers==4.36.2
# LVIS from git repo
git+https://github.com/lvis-dataset/lvis-api